torch
pandas
numpy
yfinance
ollama
PyPortfolioOpt
scikit-learn
langchain
langchain-community
langchain-core
langchain-ollama
chromadb
sentence-transformers
pypdf
unstructured
python-magic
streamlit
langchain-huggingface>=0.1.0
